# General Python
*.py[cod]
__pycache__/
*.so
.Python

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment Variables (CRITICAL for security)
.env

# Virtual Environment
venv/
env/
.venv/

# IDE settings (VS Code, PyCharm)
.vscode/
.idea/

# Mac/Windows specific
.DS_Store
Thumbs.db